# OUC Underwater DeepLens Configuration
# Copy this file to .env and adjust the variables

# Environnement (local ou production)
ENVIRONMENT=local

# API Settings
HOST=0.0.0.0
PORT=8000

# Chemins des modèles
MODEL_WEIGHTS_PATH=weights/unet_gan_v2.pth
ONNX_WEIGHTS_PATH=weights/unet_V2.onnx

# Data Paths
RAW_DATA_PATH=dataset/raw
REF_DATA_PATH=dataset/ref

# Training Hyperparameters
BATCH_SIZE=8
LEARNING_RATE=0.0001
EPOCHS=200
VAL_SPLIT=0.1

# Dataset Statistics (Comma-separated floats)
# Default values for V3 (12k images)
MEAN=0.237,0.476,0.464
STD=0.197,0.239,0.239
