# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
ouc_env/
venv/
env/
.env

# Data and Models (DO NOT COMMIT MASSIVE DATASETS TO GITHUB)
raw/
ref/
*.pth
*.pt
*.onnx

# Exception : On a besoin du modèle final (34 Mo) pour le déploiement sur Render !
!generator_final.pth

# Configuration (Keep personal paths out of git)
config.py

# Mac OS
.DS_Store

# Test and temp files
test/
calcul_
config.json
