# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
ouc_env/
venv/
env/
.env

# Data and Models (DO NOT COMMIT MASSIVE DATASETS TO GITHUB)
raw/
ref/
*.pth
*.pt
*.onnx
*.onnx.data

# Exception : Final model weights needed for deployment
!weights/generator_final.pth
!weights/generator_final.onnx
!weights/generator_final.onnx.data
!weights/unet_V1.onnx
!weights/unet_V1.onnx.data
!weights/unet_gan_v2.onnx
!weights/unet_gan_V2.onnx.data

# Configuration
.DS_Store

# Test and temp files
test/
calcul_
config.json
results/
